In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Cargar los datos
df_items = pd.read_csv('../data/interim/csv/items.csv')

In [3]:
# Calculando el porcentaje de valores nulos por columna
missing_values_per_column = df_items.isnull().mean() * 100

print("\nHead\n")
display(df_items.head())
print("\nTail\n")
display(df_items.tail())

print("Info \n"); display(pd.DataFrame(df_items.info()))
print("\nTipos Unicos\n")
for column in df_items.columns:
    print(f'{column}: {df_items[column].apply(type).unique()}')

print("\nNulls \n", df_items.isnull().sum())

print("\nDescribe \n", df_items.describe())
display("\nPorcentaje de valores nulos por columna:\n", missing_values_per_column)
# Calcular la cantidad de valores nulos por fila
null_counts_per_row = df_items.isnull().sum(axis=1)

# Calcular la frecuencia de cada cantidad de valores nulos por fila
null_counts_frequencies = null_counts_per_row.value_counts(normalize=True).sort_index() * 100

# Crear un DataFrame para mostrar los resultados
null_counts_table = pd.DataFrame({
    'Cantidad de valores nulos por fila': null_counts_frequencies.index,
    'Porcentaje de filas': null_counts_frequencies.values
})
display(null_counts_table)

Head

,user_id,user_url,steam_id,item_count,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,76561197970982479,277,10,Counter-Strike,6,0
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,76561197970982479,277,20,Team Fortress Classic,0,0
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,76561197970982479,277,30,Day of Defeat,7,0
3,76561197970982479,http://steamcommunity.com/profiles/76561197970...,76561197970982479,277,40,Deathmatch Classic,0,0
4,76561197970982479,http://steamcommunity.com/profiles/76561197970...,76561197970982479,277,50,Half-Life: Opposing Force,0,0

Tail

,user_id,user_url,steam_id,item_count,item_id,item_name,playtime_forever,playtime_2weeks
5153204,76561198329548331,http://steamcommunity.com/profiles/76561198329...,76561198329548331,7,346330,BrainBread 2,0,0
5153205,76561198329548331,http://steamcommunity.com/profiles/76561198329...,76561198329548331,7,373330,All Is Dust,0,0
5153206,76561198329548331,http://steamcommunity.com/profiles/76561198329...,76561198329548331,7,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,http://steamcommunity.com/profiles/76561198329...,76561198329548331,7,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,http://steamcommunity.com/profiles/76561198329...,76561198329548331,7,519140,Minds Eyes,3,3

Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   user_url          object
 2   steam_id          int64
 3   item_count        int64
 4   item_id           int64
 5   item_name         object
 6   playtime_forever  int64
 7   playtime_2weeks   int64
dtypes: int64(5), object(3)
memory usage: 314.5+ MB

Empty DataFrame
Columns: []
Index: []

Tipos Unicos

user_id: [<class 'str'>]
user_url: [<class 'str'>]
steam_id: [<class 'int'>]
item_count: [<class 'int'>]
item_id: [<class 'int'>]
item_name: [<class 'str'>]
playtime_forever: [<class 'int'>]
playtime_2weeks: [<class 'int'>]

Nulls
 user_id             0
user_url            0
steam_id            0
item_count          0
item_id             0
item_name           0
playtime_forever    0
playtime_2weeks     0
dtype: int64

Describe
            steam_id    item_count       item_id  playtime_forever  \
count  5.153209e+06  5.153209e+06  5.153209e+06      5.153209e+06
mean   7.656120e+16  3.147229e+02  1.784481e+05      9.914951e+02
std    3.916645e+07  6.933596e+02  1.318598e+05      5.418204e+03
min    7.656120e+16  1.000000e+00  1.000000e+01      0.000000e+00
25%    7.656120e+16  7.200000e+01  3.446000e+04      0.000000e+00
50%    7.656120e+16  1.380000e+02  2.144200e+05      3.400000e+01
75%    7.656120e+16  2.760000e+02  2.664300e+05      3.550000e+02
max    7.656120e+16  7.762000e+03  5.307200e+05      6.427730e+05

       playtime_2weeks
count     5.153209e+06
mean      9.104707e+00
std       1.403926e+02
min       0.000000e+00
25%       0.000000e+00
50%       0.000000e+00
75%       0.000000e+00
max       1.996700e+04

'\nPorcentaje de valores nulos por columna:\n'

user_id             0.0
user_url            0.0
steam_id            0.0
item_count          0.0
item_id             0.0
item_name           0.0
playtime_forever    0.0
playtime_2weeks     0.0
dtype: float64

   Cantidad de valores nulos por fila  Porcentaje de filas
0                                   0                100.0

In [6]:
df_items = pd.read_parquet('../data/interim/parquet/final_items.parquet')

In [7]:
# Calculando el porcentaje de valores nulos por columna
missing_values_per_column = df_items.isnull().mean() * 100

print("\nHead\n")
display(df_items.head())
print("\nTail\n")
display(df_items.tail())

print("Info \n"); display(pd.DataFrame(df_items.info()))
print("\nTipos Unicos\n")
for column in df_items.columns:
    print(f'{column}: {df_items[column].apply(type).unique()}')

print("\nNulls \n", df_items.isnull().sum())

print("\nDescribe \n", df_items.describe())
display("\nPorcentaje de valores nulos por columna:\n", missing_values_per_column)
# Calcular la cantidad de valores nulos por fila
null_counts_per_row = df_items.isnull().sum(axis=1)

# Calcular la frecuencia de cada cantidad de valores nulos por fila
null_counts_frequencies = null_counts_per_row.value_counts(normalize=True).sort_index() * 100

# Crear un DataFrame para mostrar los resultados
null_counts_table = pd.DataFrame({
    'Cantidad de valores nulos por fila': null_counts_frequencies.index,
    'Porcentaje de filas': null_counts_frequencies.values
})
display(null_counts_table)

Head

,user_id,steam_id,item_id,item_name,playtime_forever
0,76561197970982479,76561197970982479,10,Counter-Strike,6
1,76561197970982479,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,76561197970982479,30,Day of Defeat,7
3,76561197970982479,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,76561197970982479,50,Half-Life: Opposing Force,0

Tail

,user_id,steam_id,item_id,item_name,playtime_forever
5153204,76561198329548331,76561198329548331,346330,BrainBread 2,0
5153205,76561198329548331,76561198329548331,373330,All Is Dust,0
5153206,76561198329548331,76561198329548331,388490,One Way To Die: Steam Edition,3
5153207,76561198329548331,76561198329548331,521570,You Have 10 Seconds 2,4
5153208,76561198329548331,76561198329548331,519140,Minds Eyes,3

Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   steam_id          object
 2   item_id           object
 3   item_name         object
 4   playtime_forever  int64
dtypes: int64(1), object(4)
memory usage: 196.6+ MB

Empty DataFrame
Columns: []
Index: []

Tipos Unicos

user_id: [<class 'str'>]
steam_id: [<class 'str'>]
item_id: [<class 'str'>]
item_name: [<class 'str'>]
playtime_forever: [<class 'int'>]

Nulls
 user_id             0
steam_id            0
item_id             0
item_name           0
playtime_forever    0
dtype: int64

Describe
        playtime_forever
count      5.153209e+06
mean       9.914951e+02
std        5.418204e+03
min        0.000000e+00
25%        0.000000e+00
50%        3.400000e+01
75%        3.550000e+02
max        6.427730e+05

'\nPorcentaje de valores nulos por columna:\n'

user_id             0.0
steam_id            0.0
item_id             0.0
item_name           0.0
playtime_forever    0.0
dtype: float64

   Cantidad de valores nulos por fila  Porcentaje de filas
0                                   0                100.0