In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

# Cargar los datos
df_games = pd.read_csv('../data/interim/csv/games.csv')

C:\Users\Compumar\AppData\Local\Temp\ipykernel_16792\2897119859.py:2: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_games = pd.read_csv('../data/interim/csv/games.csv')

In [3]:
print(df_games.head())

  publisher genres app_name title  url release_date tags reviews_url specs  \
0       NaN    NaN      NaN   NaN  NaN          NaN  NaN         NaN   NaN
1       NaN    NaN      NaN   NaN  NaN          NaN  NaN         NaN   NaN
2       NaN    NaN      NaN   NaN  NaN          NaN  NaN         NaN   NaN
3       NaN    NaN      NaN   NaN  NaN          NaN  NaN         NaN   NaN
4       NaN    NaN      NaN   NaN  NaN          NaN  NaN         NaN   NaN

  price early_access  id developer
0   NaN          NaN NaN       NaN
1   NaN          NaN NaN       NaN
2   NaN          NaN NaN       NaN
3   NaN          NaN NaN       NaN
4   NaN          NaN NaN       NaN

In [4]:

print(df_games.tail())

              publisher                                         genres  \
120440  Ghost_RUS Games  ['Casual', 'Indie', 'Simulation', 'Strategy']
120441           Sacada                ['Casual', 'Indie', 'Strategy']
120442     Laush Studio              ['Indie', 'Racing', 'Simulation']
120443         SIXNAILS                            ['Casual', 'Indie']
120444              NaN                                            NaN

                        app_name                     title  \
120440            Colony On Mars            Colony On Mars
120441  LOGistICAL: South Africa  LOGistICAL: South Africa
120442             Russian Roads             Russian Roads
120443       EXIT 2 - Directions       EXIT 2 - Directions
120444               Maze Run VR                       NaN

                                                      url release_date  \
120440  http://store.steampowered.com/app/773640/Colon...   2018-01-04
120441  http://store.steampowered.com/app/733530/LOGis...   2018-01-04
120442  http://store.steampowered.com/app/610660/Russi...   2018-01-04
120443  http://store.steampowered.com/app/658870/EXIT_...   2017-09-02
120444  http://store.steampowered.com/app/681550/Maze_...          NaN

                                                     tags  \
120440      ['Strategy', 'Indie', 'Casual', 'Simulation']
120441                    ['Strategy', 'Indie', 'Casual']
120442                  ['Indie', 'Simulation', 'Racing']
120443  ['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...
120444  ['Early Access', 'Adventure', 'Indie', 'Action...

                                              reviews_url  \
120440  http://steamcommunity.com/app/773640/reviews/?...
120441  http://steamcommunity.com/app/733530/reviews/?...
120442  http://steamcommunity.com/app/610660/reviews/?...
120443  http://steamcommunity.com/app/658870/reviews/?...
120444  http://steamcommunity.com/app/681550/reviews/?...

                                                    specs price early_access  \
120440            ['Single-player', 'Steam Achievements']  1.99        False
120441  ['Single-player', 'Steam Achievements', 'Steam...  4.99        False
120442  ['Single-player', 'Steam Achievements', 'Steam...  1.99        False
120443  ['Single-player', 'Steam Achievements', 'Steam...  4.99        False
120444  ['Single-player', 'Stats', 'Steam Leaderboards...  4.99         True

              id                 developer
120440  773640.0        Nikita "Ghost_RUS"
120441  733530.0                    Sacada
120442  610660.0  Laush Dmitriy Sergeevich
120443  658870.0             xropi,stev3ns
120444  681550.0                       NaN

In [5]:
for column in df_games.columns:
    print(f'{column}: {df_games[column].apply(type).unique()}')

publisher: [<class 'float'> <class 'str'>]
genres: [<class 'float'> <class 'str'>]
app_name: [<class 'float'> <class 'str'>]
title: [<class 'float'> <class 'str'>]
url: [<class 'float'> <class 'str'>]
release_date: [<class 'float'> <class 'str'>]
tags: [<class 'float'> <class 'str'>]
reviews_url: [<class 'float'> <class 'str'>]
specs: [<class 'float'> <class 'str'>]
price: [<class 'float'> <class 'str'>]
early_access: [<class 'float'> <class 'bool'>]
id: [<class 'float'>]
developer: [<class 'float'> <class 'str'>]

In [6]:
# Resumen estadístico de df_games
print(df_games.describe(include='all'))

       publisher      genres    app_name       title  \
count      24064       28852       32133       30085
unique      8236         883       32094       30054
top      Ubisoft  ['Action']  Soundtrack  Soundtrack
freq         385        1880           3           3
mean         NaN         NaN         NaN         NaN
std          NaN         NaN         NaN         NaN
min          NaN         NaN         NaN         NaN
25%          NaN         NaN         NaN         NaN
50%          NaN         NaN         NaN         NaN
75%          NaN         NaN         NaN         NaN
max          NaN         NaN         NaN         NaN

                                                      url release_date  \
count                                               32135        30068
unique                                              32135         3582
top     http://store.steampowered.com/app/761140/Lost_...   2012-10-16
freq                                                    1          100
mean                                                  NaN          NaN
std                                                   NaN          NaN
min                                                   NaN          NaN
25%                                                   NaN          NaN
50%                                                   NaN          NaN
75%                                                   NaN          NaN
max                                                   NaN          NaN

                            tags  \
count                      31972
unique                     15395
top     ['Casual', 'Simulation']
freq                        1292
mean                         NaN
std                          NaN
min                          NaN
25%                          NaN
50%                          NaN
75%                          NaN
max                          NaN

                                              reviews_url              specs  \
count                                               32133              31465
unique                                              32132               4649
top     http://steamcommunity.com/app/612880/reviews/?...  ['Single-player']
freq                                                    2               2794
mean                                                  NaN                NaN
std                                                   NaN                NaN
min                                                   NaN                NaN
25%                                                   NaN                NaN
50%                                                   NaN                NaN
75%                                                   NaN                NaN
max                                                   NaN                NaN

        price early_access            id                developer
count   30758        32135  3.213300e+04                    28836
unique    162            2           NaN                    10992
top      4.99        False           NaN  Ubisoft - San Francisco
freq     4278        30188           NaN                     1259
mean      NaN          NaN  4.517574e+05                      NaN
std       NaN          NaN  1.827140e+05                      NaN
min       NaN          NaN  1.000000e+01                      NaN
25%       NaN          NaN  3.292800e+05                      NaN
50%       NaN          NaN  4.520600e+05                      NaN
75%       NaN          NaN  5.934000e+05                      NaN
max       NaN          NaN  2.028850e+06                      NaN

In [7]:
df_games = pd.read_parquet('../data/interim/parquet/converted_games.parquet')

In [8]:
print("\nInfo \n", df_games.info())
print("\nTipos Unicos\n")
for column in df_games.columns:
    print(f'{column}: {df_games[column].apply(type).unique()}')
print("\nValoresUnicos \n", df_games.nunique())
print("Head\n", df_games.head())
print("\nTail \n", df_games.tail())
print("\nNulls \n", df_games.isnull().sum())
print("\nDuplicados \n", df_games.duplicated().sum())
print("\nDescribe \n", df_games.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   app_name      32135 non-null  object
 1   release_date  29783 non-null  datetime64[ns]
 2   tags          32135 non-null  object
 3   id            32135 non-null  int32
 4   price         32135 non-null  float64
dtypes: datetime64[ns](1), float64(1), int32(1), object(2)
memory usage: 1.1+ MB

Info
 None

Tipos Unicos

app_name: [<class 'str'>]
release_date: [<class 'pandas._libs.tslibs.timestamps.Timestamp'>
 <class 'pandas._libs.tslibs.nattype.NaTType'>]
tags: [<class 'str'>]
id: [<class 'int'>]
price: [<class 'float'>]

ValoresUnicos
 app_name        32095
release_date     3457
tags            15396
id              32133
price             148
dtype: int64
Head
                   app_name release_date  \
0      Lost Summoner Kitty   2018-01-04
1                Ironbound   2018-01-04
2  Real Pool 3D - Poolians   2017-07-24
3                  弹炸人2222   2017-12-07
4            Log Challenge          NaT

                                                tags      id  price
0  ['Strategy', 'Action', 'Indie', 'Casual', 'Sim...  761140   4.99
1  ['Free to Play', 'Strategy', 'Indie', 'RPG', '...  643980   0.00
2  ['Free to Play', 'Simulation', 'Sports', 'Casu...  670290   0.00
3                  ['Action', 'Adventure', 'Casual']  767400   0.99
4            ['Action', 'Indie', 'Casual', 'Sports']  773570   2.99

Tail
                        app_name release_date  \
32130            Colony On Mars   2018-01-04
32131  LOGistICAL: South Africa   2018-01-04
32132             Russian Roads   2018-01-04
32133       EXIT 2 - Directions   2017-09-02
32134               Maze Run VR          NaT

                                                    tags      id  price
32130      ['Strategy', 'Indie', 'Casual', 'Simulation']  773640   1.99
32131                    ['Strategy', 'Indie', 'Casual']  733530   4.99
32132                  ['Indie', 'Simulation', 'Racing']  610660   1.99
32133  ['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...  658870   4.99
32134  ['Early Access', 'Adventure', 'Indie', 'Action...  681550   4.99

Nulls
 app_name           0
release_date    2352
tags               0
id                 0
price              0
dtype: int64

Duplicados
 1

Describe
           app_name                   release_date                      tags  \
count        32135                          29783                     32135
unique       32095                            NaN                     15396
top     Soundtrack                            NaN  ['Casual', 'Simulation']
freq             3                            NaN                      1292
mean           NaN  2015-04-21 10:02:55.267770112                       NaN
min            NaN            1970-07-15 00:00:00                       NaN
25%            NaN            2014-10-01 00:00:00                       NaN
50%            NaN            2016-04-18 00:00:00                       NaN
75%            NaN            2017-04-17 00:00:00                       NaN
max            NaN            2021-12-31 00:00:00                       NaN
std            NaN                            NaN                       NaN

                  id         price
count   3.213500e+04  32135.000000
unique           NaN           NaN
top              NaN           NaN
freq             NaN           NaN
mean    4.517293e+05      8.473556
min    -1.000000e+00     -1.000000
25%     3.292650e+05      1.990000
50%     4.520000e+05      4.990000
75%     5.933950e+05      9.990000
max     2.028850e+06    995.000000
std     1.827431e+05     16.112058

In [9]:
# Porcentaje de filas con al menos un valor nulo
porcentaje_filas_con_nulos = (df_games.isnull().any(axis=1).sum() / len(df_games)) * 100

# Porcentaje de columnas con al menos un valor nulo
porcentaje_columnas_con_nulos = (df_games.isnull().any(axis=0).sum() / len(df_games.columns)) * 100

# Media, Mediana y Moda de cada columna numérica
# La función describe() de pandas proporciona estadísticas descriptivas incluyendo la media y la mediana
# La función mode() de pandas proporciona la moda
descriptivas = df_games.describe().T[['mean', '50%']]
moda = df_games.mode().iloc[0]

# Combinando la media, mediana y moda en un solo DataFrame para una mejor visualización
estadisticas = pd.DataFrame()
estadisticas['Media'] = descriptivas['mean']
estadisticas['Mediana'] = descriptivas['50%']
estadisticas['Moda'] = moda

print(f'Porcentaje de filas con al menos un valor nulo: {porcentaje_filas_con_nulos:.2f}%')
print(f'Porcentaje de columnas con al menos un valor nulo: {porcentaje_columnas_con_nulos:.2f}%')
print('\nEstadísticas de las columnas numéricas:')
print(estadisticas)

Porcentaje de filas con al menos un valor nulo: 7.32%
Porcentaje de columnas con al menos un valor nulo: 20.00%

Estadísticas de las columnas numéricas:
                                      Media              Mediana  \
release_date  2015-04-21 10:02:55.267770112  2016-04-18 00:00:00
id                            451729.296624             452000.0
price                              8.473556                 4.99

                             Moda
release_date  2012-10-16 00:00:00
id                             -1
price                        4.99

In [10]:
# Calculando el porcentaje de valores nulos por columna
missing_values_per_column = df_games.isnull().mean() * 100

# Imprimiendo el porcentaje de valores nulos por columna
print("Porcentaje de valores nulos por columna:\n", missing_values_per_column)

# Calcular la cantidad de valores nulos por fila
null_counts_per_row = df_games.isnull().sum(axis=1)

# Calcular la frecuencia de cada cantidad de valores nulos por fila
null_counts_frequencies = null_counts_per_row.value_counts(normalize=True).sort_index() * 100

# Crear un DataFrame para mostrar los resultados
null_counts_table = pd.DataFrame({
    'Cantidad de valores nulos por fila': null_counts_frequencies.index,
    'Porcentaje de filas': null_counts_frequencies.values
})
print(null_counts_table)

Porcentaje de valores nulos por columna:
 app_name        0.000000
release_date    7.319122
tags            0.000000
id              0.000000
price           0.000000
dtype: float64
   Cantidad de valores nulos por fila  Porcentaje de filas
0                                   0            92.680878
1                                   1             7.319122

In [11]:
#Decidi conservar todas las columnas y reemplazar los valores nulos no numericos por Valor Desconocido (NULL) conservando los numericos. Ver ETL

df_games = pd.read_parquet('../data/interim/parquet/clean_games.parquet')

In [12]:
# Calculando el porcentaje de valores nulos por columna
missing_values_per_column = df_games.isnull().mean() * 100

# Imprimiendo el porcentaje de valores nulos por columna
print("Porcentaje de valores nulos por columna:\n", missing_values_per_column)

# Calcular la cantidad de valores nulos por fila
null_counts_per_row = df_games.isnull().sum(axis=1)

# Calcular la frecuencia de cada cantidad de valores nulos por fila
null_counts_frequencies = null_counts_per_row.value_counts(normalize=True).sort_index() * 100

# Crear un DataFrame para mostrar los resultados
null_counts_table = pd.DataFrame({
    'Cantidad de valores nulos por fila': null_counts_frequencies.index,
    'Porcentaje de filas': null_counts_frequencies.values
})
print(null_counts_table)

print(df_games.info())

Porcentaje de valores nulos por columna:
 app_name        0.0
tags            0.0
id              0.0
price           0.0
release_year    0.0
dtype: float64
   Cantidad de valores nulos por fila  Porcentaje de filas
0                                   0                100.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   app_name      32135 non-null  object
 1   tags          32135 non-null  object
 2   id            32135 non-null  int32
 3   price         32135 non-null  float64
 4   release_year  32135 non-null  int32
dtypes: float64(1), int32(2), object(2)
memory usage: 1004.3+ KB
None

In [13]:
print("\nHead\n")
display(df_games.head())

print("\nTail\n")
display(df_games.tail())


print("Info \n"); 
display(df_games.info())

print("\nNulls \n", df_games.isnull().sum())


print("\nTipos Unicos\n")
for column in df_games.columns:
    print(f'{column}: {df_games[column].apply(type).unique()}')

Head

,app_name,tags,id,price,release_year
0,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",761140,4.99,2018
1,Ironbound,"[Free to Play, Strategy, Indie, RPG, Card Game...",643980,0.00,2018
2,Real Pool 3D - Poolians,"[Free to Play, Simulation, Sports, Casual, Ind...",670290,0.00,2017
3,弹炸人2222,"[Action, Adventure, Casual]",767400,0.99,2017
4,Log Challenge,"[Action, Indie, Casual, Sports]",773570,2.99,-1

Tail

,app_name,tags,id,price,release_year
32130,Colony On Mars,"[Strategy, Indie, Casual, Simulation]",773640,1.99,2018
32131,LOGistICAL: South Africa,"[Strategy, Indie, Casual]",733530,4.99,2018
32132,Russian Roads,"[Indie, Simulation, Racing]",610660,1.99,2018
32133,EXIT 2 - Directions,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",658870,4.99,2017
32134,Maze Run VR,"[Early Access, Adventure, Indie, Action, Simul...",681550,4.99,-1

Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   app_name      32135 non-null  object
 1   tags          32135 non-null  object
 2   id            32135 non-null  int32
 3   price         32135 non-null  float64
 4   release_year  32135 non-null  int32
dtypes: float64(1), int32(2), object(2)
memory usage: 1004.3+ KB

None

Nulls
 app_name        0
tags            0
id              0
price           0
release_year    0
dtype: int64

Tipos Unicos

app_name: [<class 'str'>]
tags: [<class 'numpy.ndarray'>]
id: [<class 'int'>]
price: [<class 'float'>]
release_year: [<class 'int'>]

In [14]:

print("\nDescribe \n", df_games.describe())

Describe
                  id         price  release_year
count  3.213500e+04  32135.000000  32135.000000
mean   4.517293e+05      8.473556   1867.223277
std    1.827431e+05     16.112058    525.023763
min   -1.000000e+00     -1.000000     -1.000000
25%    3.292650e+05      1.990000   2014.000000
50%    4.520000e+05      4.990000   2016.000000
75%    5.933950e+05      9.990000   2017.000000
max    2.028850e+06    995.000000   2021.000000

In [15]:

display("\nPorcentaje de valores nulos por columna:\n", missing_values_per_column)
# Calcular la cantidad de valores nulos por fila
null_counts_per_row = df_games.isnull().sum(axis=1)

# Calcular la frecuencia de cada cantidad de valores nulos por fila
null_counts_frequencies = null_counts_per_row.value_counts(normalize=True).sort_index() * 100

# Crear un DataFrame para mostrar los resultados
null_counts_table = pd.DataFrame({
    'Cantidad de valores nulos por fila': null_counts_frequencies.index,
    'Porcentaje de filas': null_counts_frequencies.values
})
display(null_counts_table)

'\nPorcentaje de valores nulos por columna:\n'

app_name        0.0
tags            0.0
id              0.0
price           0.0
release_year    0.0
dtype: float64

   Cantidad de valores nulos por fila  Porcentaje de filas
0                                   0                100.0

In [16]:
df_games = pd.read_parquet('../data/interim/parquet/clean_games.parquet')

In [17]:
# Calculando el porcentaje de valores nulos por columna
missing_values_per_column = df_games.isnull().mean() * 100

print("\nHead\n")
display(df_games.head())
print("\nTail\n")
display(df_games.tail())

print("Info \n"); display(pd.DataFrame(df_games.info()))
print("\nTipos Unicos\n")
for column in df_games.columns:
    print(f'{column}: {df_games[column].apply(type).unique()}')

print("\nNulls \n", df_games.isnull().sum())

print("\nDescribe \n", df_games.describe())
display("\nPorcentaje de valores nulos por columna:\n", missing_values_per_column)
# Calcular la cantidad de valores nulos por fila
null_counts_per_row = df_games.isnull().sum(axis=1)

# Calcular la frecuencia de cada cantidad de valores nulos por fila
null_counts_frequencies = null_counts_per_row.value_counts(normalize=True).sort_index() * 100

# Crear un DataFrame para mostrar los resultados
null_counts_table = pd.DataFrame({
    'Cantidad de valores nulos por fila': null_counts_frequencies.index,
    'Porcentaje de filas': null_counts_frequencies.values
})
display(null_counts_table)

Head

,app_name,tags,id,price,release_year
0,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",761140,4.99,2018
1,Ironbound,"[Free to Play, Strategy, Indie, RPG, Card Game...",643980,0.00,2018
2,Real Pool 3D - Poolians,"[Free to Play, Simulation, Sports, Casual, Ind...",670290,0.00,2017
3,弹炸人2222,"[Action, Adventure, Casual]",767400,0.99,2017
4,Log Challenge,"[Action, Indie, Casual, Sports]",773570,2.99,-1

Tail

,app_name,tags,id,price,release_year
32130,Colony On Mars,"[Strategy, Indie, Casual, Simulation]",773640,1.99,2018
32131,LOGistICAL: South Africa,"[Strategy, Indie, Casual]",733530,4.99,2018
32132,Russian Roads,"[Indie, Simulation, Racing]",610660,1.99,2018
32133,EXIT 2 - Directions,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",658870,4.99,2017
32134,Maze Run VR,"[Early Access, Adventure, Indie, Action, Simul...",681550,4.99,-1

Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   app_name      32135 non-null  object
 1   tags          32135 non-null  object
 2   id            32135 non-null  int32
 3   price         32135 non-null  float64
 4   release_year  32135 non-null  int32
dtypes: float64(1), int32(2), object(2)
memory usage: 1004.3+ KB

Empty DataFrame
Columns: []
Index: []

Tipos Unicos

app_name: [<class 'str'>]
tags: [<class 'numpy.ndarray'>]
id: [<class 'int'>]
price: [<class 'float'>]
release_year: [<class 'int'>]

Nulls
 app_name        0
tags            0
id              0
price           0
release_year    0
dtype: int64

Describe
                  id         price  release_year
count  3.213500e+04  32135.000000  32135.000000
mean   4.517293e+05      8.473556   1867.223277
std    1.827431e+05     16.112058    525.023763
min   -1.000000e+00     -1.000000     -1.000000
25%    3.292650e+05      1.990000   2014.000000
50%    4.520000e+05      4.990000   2016.000000
75%    5.933950e+05      9.990000   2017.000000
max    2.028850e+06    995.000000   2021.000000

'\nPorcentaje de valores nulos por columna:\n'

app_name        0.0
tags            0.0
id              0.0
price           0.0
release_year    0.0
dtype: float64

   Cantidad de valores nulos por fila  Porcentaje de filas
0                                   0                100.0

In [18]:
# Para este analisis es mejor usar el csv, ya que en el parquet las columnas genres, specs y tags son listas y las necesito como strings. Toma mucho tiempo convertirlas con astype(str) o apply(str)
 
df_games_temp = pd.read_csv('../data/interim/csv/clean_games.csv')


# Ahora puedes proceder con el cálculo de valores únicos y otros análisis
print("\nValores Unicos \n\n", df_games_temp.nunique())


print("\nDuplicados \n", df_games_temp.duplicated().sum())

Valores Unicos

 app_name        32094
tags            15396
id              32133
price             148
release_year       44
dtype: int64

Duplicados
 1